
html{
	text-align:center;
    display: flex;
}
	.Head{
		text-align:center;
		margin: 40px;
		padding: 0px;
		font-family:Script MT ;
		font-size:40px;
	}
	footer ul li{
	  display:inline;
	      list-style-type: none;
        margin: auto;
        overflow: hidden;
        color:red;
        padding:10px;
        width:auto;
	}
	nav{
	  margin-bottom:10px;
	}
	nav ul{
        list-style-type: none;
        margin: auto;
        overflow: hidden;
        background-color: #c1baa9;
      }
      
      
    nav ul li{
		display: table-cell;
    float:right;
		padding-bottom: 0;
		padding-right:5%;
		margin-left:60px;
      }
      
     nav ul li a{
        display: table-cell;
        color: white;
        text-align: center;
        padding: 25px;
        text-decoration: none;
        font-family:Arial Rounded MT ;
      } 
	li a:hover{
		background-color: #6293a7;
	}
	li a:link{
	    color:white;
	}
	li a:visited{
		color: #ffffff;
	}
	li a:active {
    color: #6293a7;
}
	body {
margin:auto;
width:100%;
}

	.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
	.w3-button {
    border: none;
    margin:5px;
    display: inline-block;
    outline: 0;
    padding: 6px 10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: darkgreen;
    background-color: orange;
    text-align: center;
	color: white;
    cursor: pointer;
    white-space: pre-wrap;
}
.submitButton{
  border: none;
    margin:5px;
    display: inline-block;
    outline: 0;
    padding: 6px 10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: red;
    text-align: center;
    cursor: pointer;
    white-space: pre-wrap;
}

	 main{
        padding:10px;
      }
  footer {
        /*background-color:none;*/
        padding: 20px;
        margin:auto;
        color:black;
        font-size:small;
      }
	.platform_box{
		display:inline-table;
		padding: 7px;
		margin:10px;
		height: 350px;
		width: 250px;
		background-color:white;
	}
	.platform_box .destination{
		display:inline;
		text-align: right;
	}
	.platform_box .platform_number{
		display:inline;
		padding:15px;
		margin-right:20px;
		border-style: solid;
		text-align: left;
	}
	.platform_box .stop_list{
		display:inline-block;
		columns:100px 3;
		padding:3px;
		text-align: left;
	}
	.w3-red,.w3-hover-red:hover{
	  color:#fff!important;
	  background-color:#f44336!important}
	  .w3-white,.w3-hover-white:hover{
	    color:#000!important;
	    background-color:#fff!important}
  .main_box{
    background-color:#ffe699;
    margin-top:5px;
    margin:auto;
    box-shadow: 10px 10px 5px #888888;
    padding:10px;
    width:90%;
  }
  .form_box{
    background-color: #fff7e6;
    max-width:800px;
    min-width:400px;
    text-align:left;
    margin:auto;
    padding:10px;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 30px 40px 30px;
    display:inline-block;
  }
 
 .cus_table{
   border:2px solid #ffe699;
 }
  .cus_th{
    border:2px solid #ffe699;
    width:45%;
    text-align:right;
  }
  
  .cus_td{
    border:2px solid #ffe699;
    width:55%;
    
  }
  
  .text_box{
    max-width:800px;
    min-width:400px;
    margin:auto;
    margin-bottom:40px;
    padding:10px;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 30px 40px 30px;
    display:block;
    background-color: #fff7e6;
  }
  div .submit{
    float:right;
  }

h3{
  font-family:"Lucida Console";
  text-align:center;
  color:#882b2b;
  margin-top: 5px;
}
h5{
  font-family:"Lucida Console";
  text-align:center;
  color:#882b2b;
  margin-top: 5px;
}
 h2{
	  font-family:Baskerville Old Face;
	  font-size:30px;
	  text-align:left;
	  margin:auto;
	  padding-left:30px;
	}

a:link{
  color:black;
}
a:visited{
  color:white;
}